---
---
@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

.greedy-nav {
    background: #101d30 !important;
    border-bottom: 2px solid #243147;
    border-left: 2px solid #101d30;
    border-top: 2px solid #243147;
}

.masthead__inner-wrap {
    text-align: right;
}

* {
  font-family: 'Palatino Linotype', Palatino, serif !important;
}


table, td, th, a {
    font-family: 'Palatino Linotype', Palatino, serif !important;
}

table, td, th {
    border: 1px solid #ccc;
}

table {
    width: auto;
    border-collapse: collapse;
    border: none;
}

.page {
    @include breakpoint($large) {
        float: left;
        width: 100%; 
        padding-right: 0; 
    }

    @include breakpoint($x-large) {
        width: 100%;
        padding-right: 0;
    }
}

.page__inner-wrap {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.page__content {
    max-width: 100%;
}

.archive {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}