--- 
--- 
@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

.page {
    @include breakpoint($large) {
        float: left;
        width: 100%; 
        padding-right: 0; 
    }

    @include breakpoint($x-large) {
        width: 100%;
        padding-right: 0;
    }
}

.page__inner-wrap {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.page__content {
    max-width: 100%;
}

.archive {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}