--- 
---
@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

// Force wider content
.layout--single .page__inner-wrap {
    max-width: 100% !important;
}

.layout--single .page__content {
    max-width: 1400px !important;
}

.masthead__inner-wrap,
.page__footer-follow {
    max-width: 1400px !important;
}