--- 
--- 

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

.page {
    max-width: 100% !important;
    padding: 0 2em;
}

.page__content {
    max-width: 1200px !important;
    margin: 0 auto;
}

.page__inner-wrap {
    max-width: 100% !important;
}

.archive {
    max-width: 1200px !important;
    margin: 0 auto;
}