--- 
--- 
@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

body {
    font-size: 16px;
}

.page,
.page__inner-wrap,
.page__content,
.archive {
    max-width: 1400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.page {
    width: 100% !important;
    float: none !important;
}